main {
  background-color: lightgray;
  min-height: 1800px; }
  main .mdl-grid .all-contents .mdl-card {
    width: 100%; }
    main .mdl-grid .all-contents .mdl-card .mdl-card__supporting-text p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.2em; }
  main .mdl-grid .all-contents #first-card {
    background-color: #607D7B; }
    main .mdl-grid .all-contents #first-card .mdl-card__title {
      margin: auto; }
      main .mdl-grid .all-contents #first-card .mdl-card__title h2 {
        color: white; }
