.mdl-grid {
  margin: 0px;
  padding: 0px;
  max-width: 100%; }
  .mdl-grid .all-contents {
    margin: 0px;
    padding: 0px; }
    .mdl-grid .all-contents #test {
      padding-top: 50px;
      margin: 0px;
      background-color: black; }
      .mdl-grid .all-contents #test p {
        width: 100%;
        padding: 0px; }
    .mdl-grid .all-contents .mdl-card {
      width: 100%;
      background-color: black;
      color: white; }
      .mdl-grid .all-contents .mdl-card .mdl-card__title h3 {
        color: white; }
      .mdl-grid .all-contents .mdl-card .mdl-card__supporting-text p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: white; }
    .mdl-grid .all-contents #first-card .mdl-card__title {
      margin: auto; }
      .mdl-grid .all-contents #first-card .mdl-card__title h2 {
        color: white; }
