body {
    background-color: lightgray;
}
#title {
    font-size: 2em;
}

.mdl-layout {
    margin: 0px;
    overflow-y: hidden;
    .mdl-layout__drawer-button {
        margin-top: 20px;
        //color: white;
    }
    header {
        margin-bottom: 40px;
        .mdl-layout__header-row {
            //background: rgba(0.3,0.4,0.3,0.8);
            //background: gray;
            background: #607D8B;
            //color: white;
            nav {
                a.mdl-navigation__link {
                    //color: white;
                }
                button {
                    color: white;
                }
            }
        }
        //background: url('/static/images/book.jpg') no-repeat center center fixed;
        //background-size: round;
        //background-size: 100% 100%;
    }
    footer {
        // here somethings
    }
}

//nav {
    //background: url('/static/images/book.jpg') center cover;
//}

