body, html {
    height: 100%;
    background: black;
}
#title {
    font-size: 2em;
}

#thePage {
    display: none;
}


#myLoader {
    height: 100%;
    width: 100%;
    .mdl-card {
        width: 100%;
        background-color: black;
        height: 100%;
        .mdl-grid {
            height: 100%;
            .mdl-cell {
                align-self: center;
            }
        }
    }
}

div.mdl-layout {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    .mdl-layout__drawer {
        background-color: black;
        color: white;
    }
    .mdl-layout__drawer-button {
        margin-top: 20px;
    }
    header {
        border-bottom: 1px solid #101014;
        margin-bottom: 5px;
        .mdl-layout__header-row {
            //background: rgba(0.3,0.4,0.3,0.8);
            //background: gray;
            background-color: black;
            //color: white;
            nav {
                a.mdl-navigation__link {
                    //color: white;
                }
                button {
                    color: white;
                }
            }
        }
        //background: url('/static/images/book.jpg') no-repeat center center fixed;
        //background-size: round;
        //background-size: 100% 100%;
    }
    main {
        width: 100%;
        max-width: 100%;
        height: 100%;
        footer {
            margin-top: 40px;
            background: black;
        }
    }
}

//nav {
    //background: url('/static/images/book.jpg') center cover;
//}

