main { 
    // here somethings
    min-height: 1800px;
    .mdl-grid {
        .all-contents {
            margin-top: 100px;
            .mdl-card {
                width: 100%;
                .mdl-card__title {
                    //margin: auto;
                    .mdl-card__title-text {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                    }
                }
                .mdl-card__supporting-text {
                    p {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                    }
                }
            }
            #first-card {
                .my-card__title {
                    //margin: unset;
                    //background: url('/static/images/writeeveryday.jpg') no-repeat center;
                    //background-size: contain;
                    //height: 300px;
                }
                //height: 400px;
            }
            #second-card {
                .mdl-card__title {  
                }
            }
            #third-card {
                .mdl-card__title {  
                }
            }
        }
    }
}

