body {
    background-color: black;
}

#saveButton {
    background-color: green;
    color: white;
}

#theDay {
    margin: 0px;
}

#rightDay,#leftDay {
    color: white;
}

.daySwitch {
    background-color: black;
    border: 1px solid green;
    border-radius: 10%;
    padding: -5px;
    margin: -5px;
}

.mdl-layout {
    overflow-x: hidden;
}

.mdl-grid {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
    .all-contents {
        overflow-y: hidden;
        overflow-x: hidden;
        max-width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        .mdl-textfield {
            overflow-x: hidden;
            color: gray;
            width: 100%;
            padding: 5px;
            textarea {
                resize: none;
                height: 70vh;
                max-width: 100%;
                font-size: 1.0em;
                color: #999999;
                font-weight: 500;
                overflow-x: hidden;
            }
            #noOfWords {
                font-size: 0.8em;
                font-weight: 100;
            }
        }
    }
}
