// This page will be the first to be seen when you open the site for the first time and haven't signed up before
extends base
block title 
    title 400words

block pagestyle
    link(rel="stylesheet",href="/static/css/first.css")

block body
    div.mdl-grid
        div.mdl-cell.mdl-cell--1-col.mdl-cell--hide-phone.mdl-cell--hide-tablet
        div.all-contents.mdl-cell.mdl-cell--10-col.mdl-cell--12-col-phone.mdl-cell--12-col-tablet
            div#first-card.mdl-card.mdl-shadow--2dp
                div.my-card__title.mdl-card__title
                    h2 Welcome to 300words
                div.mdl-card__supporting-text
            div#second-card.mdl-card.mdl-shadow--2dp
                div.my-card__title.mdl-card__title
                    h3 What is this site about?
                div.mdl-card__supporting-text
                    p.
                        It's about learning a new habit: Writing. Every. Day.
                        <br>
                        <br>
                        I've long been inspired by an idea I first learned about in The Artist's Way called morning pages. Morning pages are three pages of writing done every day, typically encouraged to be in "long hand", typically done in the morning, that can be about anything and everything that comes into your head. It's about getting it all out of your head, and is not supposed to be edited or censored in any way. The idea is that if you can get in the habit of writing three pages a day, that it will help clear your mind and get the ideas flowing for the rest of the day. Unlike many of the other exercises in that book, I found that this one actually worked and was really really useful.
                        I've used the exercise as a great way to think out loud without having to worry about half-formed ideas, random tangents, private stuff, and all the other things in our heads that we often filter out before ever voicing them or writing about them. It's a daily brain dump. Over time, I've found that it's also very helpful as a tool to get thoughts going that have become stuck, or to help get to the bottom of a rotten mood.
            div#third-card.mdl-card.mdl-shadow--2dp
                div.my-card__title.mdl-card__title
                    h3 It's not blogging or status updating
                div.mdl-card__supporting-text
                    p.
                        I've tried writing my 750 words a day on Livejournal, Wordpress, PBWorks, Tumblr, and all of these other sites designed around putting content online. It hasn't worked for me. I fear that I might accidentally forget to mark daily pages as private. And it's just weird having my private brain dumps out on various sites that are designed to be more social. I don't need to title my entries, or tag them, or enable comments, or any of that other stuff. This is writing, and it's online, but it's not blogging, or Twittering, or Facebook status updating. This is between you and you.
            div#fourth-card.mdl-card.mdl-shadow--2dp
                div.my-card__title.mdl-card__title
                    h3 All online and private
                div.mdl-card__supporting-text
                    p.
                        In the past, looking for a spare notebook was probably easier than looking for a computer. Not anymore. I don't know if my hands even work anymore with pen and paper for any task that takes longer than signing a check or credit card receipt.
            div#fifth-card.mdl-card.mdl-shadow--2dp
                div.my-card__title.mdl-card__title
                    h3 It's fun
                div.mdl-card__supporting-text
                    p.
                        Every month you get a clean slate. If you write anything at all, you get 1 point. If you write 750 words or more, you get 2 points. If you write two, three or more days in a row, you get even more points. It's fun to try to stay on streaks and the points are a way to play around with that. You can also see how others are doing points-wise if you're at all competitive that way. How I see it, points can motivate early on, and eventually the joy of writing will kick in and you'll be writing without any external motivation at all.
        div.mdl-cell.mdl-cell--0-col.mdl-cell--hide-phone.mdl-cell--hide-tablet

