// This page will be the first to be seen when you login/signin or are a return user
// Contains signup/login and app info
extends base

block pagestyle
    link(rel="stylesheet", href="/static/css/index.css")

block javascript
    script(src="/static/js/index.js")

block title
    title Welcome back

block nav
    a.mdl-navigation__link(href="/logout")
        button.mdl-button.mdl-button.mdl-js-button.mdl-button--raised Logout


block body
    div.mdl-grid
        div.mdl-layout-spacer.mdl-cell--hide-phone
        div.mdl-cell.mdl-cell--8-col.mdl-cell--12-col-phone.all-contents.mdl-shadow--2dp
            div.mdl-textfield.mdl-js-textfield.mdl-shadow--1dp
                span#noOfDays Day 1
                span#noOfWords 10 words
                hr
                textarea.mdl-textfield__input(type="text",id="sample5")
                //-label.mdl-textfield__label(for="sample5") Write Stuffs
            h5 Welcome back {{ g.user.username }}
        div.mdl-layout-spacer.mdl-cell--hide-phone
